.mui-carousel{overflow:hidden; width:100%; position:relative; -webkit-backface-visibility:hidden; -webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1); -webkit-transform-style:preserve-3d; font-size:0; line-height:0; padding-bottom:0!important; min-width:980px;}
.ie7 .mui-carousel,.ie8 .mui-carousel{min-width:1380px;}
.mui-carousel .tc-container{position:relative!important;}
.mui-carousel .tc-container ul{width:20000px; position:relative; transform:translate3d(0%, 0, 0) scale3d(1, 1, 1); -o-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1); -ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1); -moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1); -webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1); -webkit-backface-visibility:hidden; -webkit-transform-style:preserve-3d;}
.mui-carousel .tc-container ul li{float:left; width:100%; overflow:hidden; -webkit-transform-style:preserve-3d; -webkit-transform:translate3d(0,0,0); position:relative;}
.mui-carousel .tc-container ul li a{display:block; vertical-align:top; zoom:1;}
.mui-carousel .tc-container ul li img{width:100%; height:auto; max-width:1660px; margin:0 auto; _width:1660px;}
.ie8 .mui-carousel .tc-container ul li img{ height:auto; width:1660px; margin:0 auto; }
.mui-carousel .tc-index{position:absolute; bottom:4%; right:0; z-index:1; width:100%; text-align:center; font-size:0; line-height:0;}
.mui-carousel .tc-index a{width:12px; height:12px; background:#8b8b8b; border-radius:50%; margin:0 5px; display:inline-block; vertical-align:top;}
.mui-carousel .tc-index .current{background:#C33;}
.mui-carousel .tc-prev, .mui-carousel .tc-next{position:absolute; top:50%; width:56px; height:118px; margin-top:-59px; background:url(../images/icons.gif) no-repeat;}
.mui-carousel .tc-prev:hover, .mui-carousel .tc-next:hover{opacity:0.4; flter:alpha(opacity=40); background-color:#000;}
.mui-carousel .tc-prev{left:37px; background-position:-91px -135px;}
.mui-carousel .tc-next{right:37px; background-position:-157px -135px;}
.mui-carousel .disabled{display:none!important;}
.mui-carousel .becomeVIP{position:absolute; right:100px; bottom:14%;}
.mui-carousel .becomeVIP_bg{width:253px; height:370px; overflow:hidden; background-color:#000; opacity:0.7; filter:alpha(opacity=70%); -webkit-border-radius:6px; -moz-border-radius:6px; -ms-border-radius:6px; border-radius:6px;}
.mui-carousel .becomeVIP_content{width:206px; height:352px; padding:18px 21px 0 26px; font-size:14px; color:#bfbfbf; line-height:32px;}
.mui-carousel .becomeVIP_content .border{border-bottom:1px solid #2d2d2d;}
.mui-carousel .becomeVIP_content .tit{font-size:20px; line-height:50px;}
.mui-carousel .becomeVIP_content .intro{padding:12px 0 10px;}
.mui-carousel .becomeVIP_content .intro dt{margin-bottom:6px;}
.mui-carousel .becomeVIP_content .intro .icons{width:17px; height:18px; margin:8px 8px 0 0;}
.mui-carousel .becomeVIP_content .intro .stopIcon{background-position:-82px -42px;}
.mui-carousel .becomeVIP_content .intro .movieIcon{background-position:-109px -42px;}
.mui-carousel .becomeVIP_content .intro .sofaIcon{background-position:-136px -42px;}
.mui-carousel .becomeVIP_content .intro .goodIcon{background-position:-163px -42px;}
.mui-carousel .becomeVIP_content .handle{padding-top:14px; text-align:center;}
.mui-carousel .becomeVIP_content .handle .tip em{font-family:Verdana; font-size:20px; color:#e14a43; margin-right:2px;}
.mui-carousel .becomeVIP_content .handle a.btn{display:block; vertical-align:top; zoom:1; height:39px; overflow:hidden; background:url(../images/icons.gif) no-repeat -275px 0; margin-top:4px;}
.mui-carousel .becomeVIP_content .handle a.btn:hover{background-position:-275px -49px;}

.catalogRec{height:59px; line-height:59px; font-size:16px; background-color:#e6e6e6; border-bottom:1px solid #cfcfcf; margin-bottom:-10px; font-size:0; text-align:center;}
.catalogRec .wrap{background-color:#e6e6e6; border-bottom:1px solid #cfcfcf; position:relative; margin-bottom:-1px; zoom:1; height:60px; *height:59px;}
.ie8 .catalogRec .wrap{height:59px;}
.catalogRec .bdRight{border-right:1px solid #CCC;}
.catalogRec .bdLeft{border-left:1px solid #CCC;}
.catalogRec .tit,.catalogRec .con{display:inline-block; *display:inline; zoom:1; vertical-align:top;}
.catalogRec .tit{font-size:18px; padding-right:38px;}
.catalogRec .con span{font-size:16px; display:inline-block; padding:0 25px; vertical-align:top;}
.catalogRec .con a{color:#666; display:inline-block; padding:0 6px; margin:0 8px; vertical-align:top; position:relative;}
.catalogRec .con a:hover{text-decoration:none; border-bottom:1px solid #000; color:#000; margin-bottom:-1px; background-color:#d9dadc;}

.movieList_new .listBox_single .viewport{height:412px;}
.movieList_series .listBox .list .img{border:0; padding:4px 4px 0 0; background:url(../images/bg_series.gif) no-repeat right top;}
.movieList_series .listBox .count{position:absolute; right:4px; top:4px; width:56px; height:56px; overflow:hidden; background:url(../images/icons.gif) no-repeat -425px -98px; font-size:14px; line-height:16px; text-align:center;}
.movieList_series .listBox .count .num{width:40px; position:absolute; right:0; top:2px;}
.movieList_series .listBox .count .unit{width:16px; position:absolute; right:4px; top:18px;}
.movieList_recommend .listBox .list .lead{width:184px; height:328px; overflow:hidden; background-color:#4d535b; color:#a1a8b1; line-height:26px; top:2px; margin:0 18px 0 2px; padding:40px 18px 0; -webkit-transition:background-color 0.5s,color 0.5s; -moz-transition:background-color 0.5s,color 0.5s; -ms-transition:background-color 0.5s,color 0.5s; transition:background-color 0.5s,color 0.5s; position:relative;}
.movieList_recommend .listBox .list .lead:hover{background-color:#3c4147; color:#dde6f1;}
.movieList_recommend .listBox .list .lead .tit{font-size:20px;}
.movieList_recommend .listBox .list .lead .con{margin-top:22px;}
.movieList_recommend .listBox .list .lead .arrowIcon{width:10px; height:19px; position:absolute; background-position:-82px -95px; right:0; top:50%; margin-top:-10px;}
.movieList_rank .tabTit{margin-top:19px; padding:13px 0 14px; border:1px solid #d9d9d9; border-width:1px 0;}
.movieList_rank .tabTit li{float:left; margin-right:10px; display:inline; height:23px; line-height:23px; font-size:16px; padding:0 52px 0 10px; cursor:pointer;}
.movieList_rank .tabTit li.active{background-color:#000; color:#FFF;}
.movieList_rank .listBox{display:none;}
.movieList_rank .listBox .rankNum{position:absolute; width:47px; height:64px; text-align:center; line-height:64px; background-color:#929292; color:#FFF; left:10px; bottom:0; cursor:pointer; font-family:Verdana; font-size:35px;}
.movieList_rank .listBox .rankNum_top{background-color:#e14a43; width:66px; height:113px; line-height:113px; font-size:55px;}

.page{background:url(../images/bg_search_searchpage.gif) repeat-x 0 -281px; }
.page .movieList{_width:100%; min-width:100%;}

.page_search .search{background:url(../images/bg_search_searchpage.gif) repeat-x 0 -281px #e4e4e4;}
.page_search .search .wrap_fix{padding-top:38px; padding-bottom:40px; background:url(../images/bg_search_searchpage.gif) repeat-x 0 -281px #e4e4e4;}
.page_search .search .inner_search{width:634px; margin:0 auto;}
.page_search .search .searchBG{background:url(../images/bg_search_searchpage.gif) no-repeat;}
.page_search .search input{border:0; background-color:transparent; font-size:16px; outline:none;}
.page_search .search .btn{width:94px; height:45px; cursor:pointer; margin-top:1px; overflow:hidden; padding-left:39px; text-align:left; -webkit-box-shadow:0 2px 2px rgba(161,161,161,0.37); -moz-box-shadow:0 2px 2px rgba(161,161,161,0.37); -ms-box-shadow:0 2px 2px rgba(161,161,161,0.37); box-shadow:0 2px 2px rgba(161,161,161,0.37); -webkit-border-radius:8px; -moz-border-radius:8px; -ms-border-radius:8px; border-radius:8px;}
.page_search .search .btn:hover{background-position:0 -55px;}
.page_search .search .txt{margin-right:104px; zoom:1; position:relative;}
.page_search .search .txt .inner1_txt{background-position:0 -110px; padding-left:12px;}
.page_search .search .txt .inner2_txt{background-position:right -224px; padding-right:12px; zoom:1;}
.page_search .search .txt .inner3_txt{background-position:0 -167px; background-repeat:repeat-x; height:34px; padding-top:13px; overflow:hidden;}
.page_search .search .txt input{width:100%; height:20px; line-height:20px;}
.page_search .search .list{position:absolute; z-index:9999; width:100%; left:0; top:47px; display:none;}
.page_search .search .list .inner_list{border:1px solid #cfcfcf; background-color:#FFF; line-height:32px;}
.page_search .search .list a{display:block; vertical-align:top; zoom:1; color:#666; padding:0 12px;}
.page_search .search .list li.active a,.page_search .search .list a:hover{background-color:#f2f2f2; color:#000; text-decoration:none;}
.page_search .result{padding-top:42px;}
.page_search .result .target{color:#e14a43;}
.page_search .result .sort li{float:left; font-size:14px; margin-right:20px; display:inline;}
.page_search .result .sort .icons{width:13px; height:13px; background-position:-128px -98px; margin:4px 5px 0 0;}
.page_search .result .sort .active .icons{background-position:-151px -98px;}
.page_search .result .count{font-size:14px;}
.page_search .result .resultList{margin-top:-15px;}
.page_search .result .resultList li{padding:33px 0 35px; border-bottom:1px solid #dbdbdb;}
.page_search .result .resultList .img{border:2px solid #FFF; width:220px; margin-right:18px;}
.page_search .result .resultList .img img{width:100%; height:auto;}
.page_search .result .resultList .txt{overflow:hidden; zoom:1;}
.page_search .result .resultList .name{font-size:20px; padding-top:2px;}
.page_search .result .resultList .info{padding-top:9px; line-height:24px;}
.page_search .result .resultList .info li{padding:0; margin-top:5px; border:0;}
.page_search .result .resultList .handle{margin-top:19px;}
.page_search .result .resultList .handle .btn{display:inline-block; vertical-align:top; margin-right:10px; height:42px; line-height:42px; border:1px solid #e14a43; font-size:18px; padding:0 18px; cursor:pointer;}
.page_search .result .resultList .handle .btn:hover{border-color:#da3730; text-decoration:none;}
.page_search .result .resultList .handle .playBtn{background-color:#e14a43; color:#FFF;}
.page_search .result .resultList .handle .playBtn:hover{background-color:#da3730;}
.page_search .result .resultList .handle .favBtn{color:#e14a43;}
.page_search .result .resultList .handle .favBtn:hover{color:#da3730;}
.page_search .result .resultList .handle .icons{width:23px; height:42px; margin-right:6px;}
.page_search .result .resultList .handle .playIcon{background-position:-108px -426px;}
.page_search .result .resultList .handle .favIcon{background-position:-108px -482px;}
.page_search .result .resultList .handle .favedBtn .favIcon{background-position:-155px -569px;}

.page_catalog .wrap_fix{padding-top:25px; background:url(../images/bg_search_searchpage.gif) repeat-x 0 -281px;}
.page_catalog .catalogList{background-color:#ebebeb; padding:0 19px 17px; overflow:hidden;}
.page_catalog .catalogList .inner_catalogList{margin-top:-4px;}
.page_catalog .catalogList li{padding-top:15px; line-height:19px;}
.page_catalog .catalogList .label{margin:6px 22px 0 0; font-size:16px;}
.page_catalog .catalogList .con{overflow:hidden;}
.page_catalog .catalogList .con a{float:left; margin:6px 5px 0 0; padding:0 8px; word-wrap:normal; word-break:keep-all;}
.page_catalog .catalogList .con a:hover{background-color:#d9d9d9; text-decoration:none;}
.page_catalog .catalogList .con a.active,.page_catalog .catalogList .con a.active:hover{background-color:#e14a43; color:#FFF;}
.page_catalog .sortTab{margin-top:23px; border:1px solid #d9d9d9; border-width:1px 0; padding:0 0 14px; font-size:16px;}
.page_catalog .sortTab li{float:left; margin:14px 40px 0 0;}
.page_catalog .sortTab a{float:left; color:#333; padding:0 10px;}
.page_catalog .sortTab a:hover{background-color:#d9d9d9; text-decoration:none;}
.page_catalog .sortTab a.active,.page_catalog .sortTab a.active:hover{background-color:#000; color:#FFF;}
.page_catalog .sortCon{margin-top:-10px;}
.page_catalog .sortCon .listBox{margin-top:0; overflow:hidden;}
.page_catalog .sortCon .listBox .list{margin:0 -7px 0 -8px;}
.page_catalog .sortCon .listBox .list li{width:20%; padding:28px 7px 0 8px; margin:0; *width:224px; *height:373px; overflow:hidden;}
.ie8 .page_catalog .sortCon .listBox .list li{width:224px;}
.page_catalog .sortCon .listBox .list img{width:100%; height:auto;}

.page_search .result .count,.page_catalog .count{font-size:14px;}
.page_catalog .count{margin-top:28px;}
.resultNull{margin-top:27px;}
.resultNull .tit{font-size:18px;}
.resultNull .con{font-size:14px; line-height:30px; margin-top:5px;}
.resultRec{margin-top:22px; padding-top:38px; border-top:1px solid #dbdbdb;}
.resultRec .tit{font-size:20px;}
.resultRec .movieList .listBox{margin-top:13px;}
.page_play .movieList h2{font-size:20px;}
.page_play .movieList .listBox{margin-top:12px;}
.page_play .movieList .movieList_hot{margin-top:25px;}

.page_play .countdown{width:666px; height:56px; border:1px solid #c5c5c5; margin:41px auto 73px; -webkit-border-radius:3px 3px 0 0; -moz-border-radius:3px 3px 0 0; -ms-border-radius:3px 3px 0 0; border-radius:3px 3px 0 0;}
.page_play .countdown .cdTit{width:550px; font-size:21px; line-height:23px; position:relative; top:-12px; margin:0 auto -12px; background-color:#e4e4e4; text-align:center;}
.page_play .countdown .cdTit em{margin:0 16px;}
.page_play .countdown .cdCon{width:598px; padding:0 15px; background-color:#e4e4e4; margin:18px auto -28px; position:relative;}
.page_play .countdown .cdCon table{-webkit-box-shadow:0 0 10px rgba(255,255,255,1); -moz-box-shadow:0 0 10px rgba(255,255,255,1); -ms-box-shadow:0 0 10px rgba(255,255,255,1); box-shadow:0 0 10px rgba(255,255,255,1); border-bottom:1px solid #FFF; background-color:#626262; -webkit-box-shadow:0 0 8px rgba(0,0,0,0.4) inset; -moz-box-shadow:0 0 8px rgba(0,0,0,0.4) inset; -ms-box-shadow:0 0 8px rgba(0,0,0,0.4) inset; box-shadow:0 0 8px rgba(0,0,0,0.4) inset; -webkit-border-radius:3px 0 0 3px; -moz-border-radius:3px 0 0 3px; -ms-border-radius:3px 0 0 3px; border-radius:3px 0 0 3px;}
.page_play .countdown .cdCon td{width:20%; height:56px; text-align:center; overflow:hidden;}
.page_play .countdown .cdCon em{display:block; vertical-align:top; border-left:1px solid #6e6e6e; border-right:1px solid #575757; font-size:16px; color:#c8c8c8;}
.page_play .countdown .cdCon strong{font-size:36px; font-weight:bold; font-family:Arial; color:#FFF; margin-right:4px; display:inline-block; vertical-align:middle;}
.page_play .countdown .cdCon i{display:inline-block; vertical-align:middle;}
.page_play .countdown .cdCon .favBtn{display:block; vertical-align:top; cursor:pointer; background-color:#e14a43; color:#FFF; font-size:20px; height:54px; line-height:54px; border:1px solid #c52821;}
.page_play .countdown .cdCon .favBtn:hover{background-color:#da3730;}

.page_series .bg_page_series,.page_series .bg_page_series .wrap_fix{background:url(../images/bg_page_series.jpg) no-repeat center top #18181c;}
.page_series .bg_page_series .wrap_fix{padding-top:53px; height:188px; overflow:hidden; color:#bdbdbd; *height:135px;}
.ie8 .page_series .bg_page_series .wrap_fix{height:135px;}
.page_series .bg_page_series .tit{font-size:28px;}
.page_series .bg_page_series .tip{font-size:18px; margin-top:10px;}
.page_series .movieList h2{font-size:20px; line-height:22px;}

.page_vip .bg1_page_vip{background:url(../images/bg1_page_vip.gif) repeat;}
.page_vip .bg1_page_vip .wrap_fix{background:url(../images/bg1_page_vip.gif) repeat;}
.page_vip .bg2_page_vip{background:url(../images/bg2_page_vip.gif) repeat-x; height:291px; overflow:hidden;}
.page_vip .bg3_page_vip{background:url(../images/bg_privilege.jpg) no-repeat center top; height:291px; overflow:hidden;}
.page_vip .vipBox{width:100%; padding:175px 4px 0; margin:-291px auto 0; position:relative; *padding:175px 0 0;}
.ie8 .page_vip .vipBox{padding:175px 0 0;}
.page_vip .vipBox .row{margin:0 -4px;}
.page_vip .vipBox .banner{font-size:0; line-height:0; width:444px; margin:0 auto;}
.page_vip .vipBox .prize{padding-top:55px;}
.page_vip .vipBox .prize .ele_prize{float:left; width:20%; padding:0 4px; *width:229px; text-align:center; margin-top:8px;}
.ie8 .page_vip .vipBox .prize .ele_prize{width:229px;}
.page_vip .vipBox .prize .ele_prize .inner_ele_prize{padding:19px 14px 32px; background-color:#FFF; -webkit-box-shadow:0 0 6px rgba(0,0,0,0.2); -moz-box-shadow:0 0 6px rgba(0,0,0,0.2); -ms-box-shadow:0 0 6px rgba(0,0,0,0.2); box-shadow:0 0 6px rgba(0,0,0,0.2);}
.page_vip .vipBox .prize .tip{background-color:#f0f1f3; padding:16px 4px 10px; color:#574c59;}
.page_vip .vipBox .prize .tip_prize{line-height:58px; font-size:22px;}
.page_vip .vipBox .prize .tip_prize .num{font-size:36px;}
.page_vip .vipBox .prize .tip_off{font-size:16px; line-height:20px;}
.page_vip .vipBox .prize .btn{margin-top:30px; padding:0 30px;}
.page_vip .vipBox .prize .btn a{display:block; vertical-align:top; height:42px; line-height:42px; font-size:18px; color:#FFF; background-color:#e14a43;}
.page_vip .vipBox .privilege{margin-top:42px;}
.page_vip .vipBox .privilege .tit{font-size:26px; line-height:30px;}
.page_vip .vipBox .privilege .con{padding-top:12px; font-size:20px; line-height:25px;}
.page_vip .vipBox .privilege .ele_privilege{float:left; width:33.33333333333333%; padding:0 4px; *width:388px; margin-top:6px;}
.ie8 .page_vip .vipBox .privilege .ele_privilege{width:388px;}
.page_vip .vipBox .privilege .ele_privilege .inner1_ele_privilege{background-color:#FFF; -webkit-box-shadow:0 0 6px rgba(0,0,0,0.1); -moz-box-shadow:0 0 6px rgba(0,0,0,0.1); -ms-box-shadow:0 0 6px rgba(0,0,0,0.1); box-shadow:0 0 6px rgba(0,0,0,0.1);}
.page_vip .vipBox .privilege .ele_privilege .inner2_ele_privilege{width:74.80519480519481%; margin:0 auto; padding:40px 0 44px;}
.page_vip .vipBox .privilege .con img{display:inline-block; vertical-align:middle; margin-right:18px; width:32%; height:auto;}
.page_vip .vipBox .privilege .con span{display:inline-block; vertical-align:middle; width:60%;}
.page_vip .movieList h2 span{font-size:16px;}
.page_vip .becomeVIP{margin:48px 0 -54px; font-size:26px; line-height:39px; text-align:center; color:#8b8b8b; background-color:#e3e3e3;}
.page_vip .becomeVIP .wrap_fix{background-color:#e3e3e3; padding-top:37px; padding-bottom:40px;}
.page_vip .becomeVIP .btn{width:206px; height:39px; margin-left:24px; background-position:-275px -164px;}
.page_play .player-widget   .popBox{position:relative; z-index:2; float:left;}
.page_play .player-widget   .popBox .active{}
.page_play .player-widget   .popBox .popTit{cursor:pointer;}
.page_play .player-widget   .popBox .popLayer{position:absolute; top: 32px; border:3px solid #d6d6d6; background-color:#FFF; line-height:22px; padding:9px 8px 12px; display:none;}
.page_play .player-widget   .count{height:22px; line-height:22px; padding-left:22px; margin:13px 0 0 9px; border-left:1px solid #e6e6e6;}
.page_play .player-widget  .count .num{font-family:Verdana; color:#ed4e47; font-size:19px;}
.page_play .player-widget   .app .popBox{margin-left:1px; display:inline;}
.page_play .player-widget   .app .popTit{padding:0 12px;}
.page_play .player-widget   .app .popTit a{color:#666;}
.page_play .player-widget   .app .popTit a:hover{color:#333; text-decoration:none;}
.page_play .player-widget   .app .popTit .icons{width:16px; height:16px; margin:16px 5px 0 0;}
.page_play .player-widget   .app .popTit .codeIcon{background-position:-157px -426px;}
.page_play .player-widget   .app .popTit .pcIcon{background-position:-177px -426px;}
.page_play .player-widget   .app .popTit .explorerIcon{background-position:-197px -426px;}
.page_play .player-widget   .app .active .codeIcon{background-position:-157px -452px;}
.page_play .player-widget   .app .active .pcIcon{background-position:-177px -452px;}
.page_play .player-widget   .app .active .explorerIcon{background-position:-197px -452px;}
.page_play .player-widget   .phone .popLayer {width:160px; padding:15px 20px;}
.page_play .player-widget   .phone .popLayer-right {right:0;}
.page_play .player-widget   .phone .popLayer .closeIcon{position:absolute; right:14px; top:14px; background-position:-174px -101px; width:6px; height:6px; cursor:pointer;}
.page_play .player-widget   .phone .popLayer .tip{margin-bottom:12px;}
.page_play .player-widget   .phone .popLayer .txt{padding-left:102px; line-height:30px;}
.page_play .player-widget   .phone .popLayer .view{width:210px; border-right:1px solid #e9e9e9; margin-right:20px;}
.page_play .player-widget   .phone .popLayer .join{width:264px;}

.page_play .player-widget   .phone #QRCode{position:relative; width:87px; height:87px; overflow:hidden;}
.page_play .player-widget   .phone #QRCode .logo_QRCode{position:absolute; left:50%; top:50%; margin:-11px 0 0 -11px;}
.page_play .player-widget .pc .popLayer .closeIcon{
		position: absolute;
		right: 14px;
		top: 14px;
		background-position: -174px -101px;
		width: 6px;
		height: 6px;
		cursor: pointer;
	}
	.page_play .player-widget .pc .popLayer .tip{
		margin-bottom: 12px;
		font-size:13.34px;
	}
	.page_play .player-widget .pc #QRCode1 {
    position: relative;
    width: 87px;
    height: 87px;
    border: 2px #00b7ee solid;
    border-radius: 5px;
    overflow: hidden;}
    .page_play .player-widget .pc #QRCode1 .logo_QRCode {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -11px 0 0 -11px;}
    .page_play .player-widget .pc .popLayer .txt{
		padding-left: 102px;
		font-size: 11px;
    }
    .icon-good-pos{
    	margin-top: -44px;
    }
.page_play .player-widget   .pc .popLayer{width:180px; left: 0;color: #373636;font-weight: bold;}
.page_play .player-widget   .app .explorer .popLayer{width:128px;}
.page_play .player-widget   .share .popTit{padding:0 20px;}
.page_play .player-widget   .share .popTit .logoIcon{margin:16px 0 0 0; width:92px; height:16px; background-position:-275px -131px;}
.page_play .player-widget   .share .popLayer{left: 0;width:360px; padding:14px 20px 20px;}
.page_play .player-widget   .share .popLayer input{height:28px; line-height:28px; border:1px solid #b9b9b9; background-color:#FFF; font-size:14px; font-family:Arial;}
.page_play .player-widget   .share .popLayer .form{margin-top:14px; position:relative;}
.page_play .player-widget   .share .popLayer .btn{width:90px; height:28px; text-align:center; line-height:28px; border:1px solid #b9b9b9; background-color:#FFF; font-size:14px; font-family:Arial; margin-right:10px;}
.page_play .player-widget   .share .popLayer .txt{width:246px; padding:0 5px;}
.page_vip_coupon{background:none;}
.page_vip_coupon .bg_vip_coupon{background:url(../images/bg_vip_coupon.jpg) no-repeat center top #000;}
.page_vip_coupon .bg_vip_coupon .wrap_fix{height:502px; overflow:hidden; background:url(../images/bg_vip_coupon.jpg) no-repeat center top;}
.page_vip_coupon .box_vip_coupon{background-color:#FFF;}
.page_vip_coupon .box_vip_coupon .operate{width:38.8135593220339%; position:relative; margin-top:-62px;}
.page_vip_coupon .box_vip_coupon .operate .inner1_operate{background:url(../images/bg_operate_coupon_left.jpg) no-repeat left 62px; padding-left:14px;}
.page_vip_coupon .box_vip_coupon .operate .inner2_operate{background:url(../images/bg_operate_coupon_right.jpg) no-repeat right 62px; padding-right:14px; height:432px; overflow:hidden;}
.page_vip_coupon .box_vip_coupon .operate .tit{height:62px; line-height:58px; background-color:#f7f7f7; text-align:center; -webkit-border-radius:4px 4px 0 0; -moz-border-radius:4px 4px 0 0; -ms-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
.page_vip_coupon .box_vip_coupon .operate .tit li{width:50%;}
.page_vip_coupon .box_vip_coupon .operate .tit a{display:block; vertical-align:top; color:#333; text-decoration:none; padding-top:4px; -webkit-box-shadow:1px -1px 2px rgba(0,0,0,0.04) inset; -moz-box-shadow:1px -1px 2px rgba(0,0,0,0.04) inset; -ms-box-shadow:1px -1px 2px rgba(0,0,0,0.04) inset; box-shadow:1px -1px 2px rgba(0,0,0,0.04) inset;}
.page_vip_coupon .box_vip_coupon .operate .tit a.active{padding-top:0; border-top:4px solid #e14a43; color:#e14a43; background-color:#FFF; -webkit-box-shadow:none; -moz-box-shadow:none; -ms-box-shadow:none; box-shadow:none;}
.page_vip_coupon .box_vip_coupon .operate .con{padding:24px 40px 0;}
.page_vip_coupon .box_vip_coupon .operate .con .tip{color:#808080;}
.page_vip_coupon .box_vip_coupon .operate .con .tip .icon_tip{width:16px; height:16px; margin:3px 8px 0 0; background:url(../images/icons_vip_coupon.gif) no-repeat 0 -7px;}
.page_vip_coupon .box_vip_coupon .operate .con .form .txt{margin-top:20px; border:1px solid #d9d9d9; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; border-radius:3px; padding:12px 8px; -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.09) inset; -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.09) inset; -ms-box-shadow:1px 1px 2px rgba(0,0,0,0.09) inset; box-shadow:1px 1px 2px rgba(0,0,0,0.09) inset;}
.page_vip_coupon .box_vip_coupon .operate .con .form .txt input{width:100%; height:26px; line-height:26px; font-size:20px; color:#CCC; border:0; background-color:transparent; outline:none; zoom:1;}
.page_vip_coupon .box_vip_coupon .operate .con .form .txt_active{border-color:#f77771;}
.page_vip_coupon .box_vip_coupon .operate .con .form .more{text-align:right; margin-top:8px;}
.page_vip_coupon .box_vip_coupon .operate .con .form .more a{color:#808080;}
.page_vip_coupon .box_vip_coupon .operate .con .form .btn{display:block; vertical-align:top; width:192px; height:42px; text-align:center; line-height:42px; background-color:#e14a43; color:#FFF; font-size:18px; margin:26px auto 0; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; border-radius:3px; cursor:pointer;}
.page_vip_coupon .box_vip_coupon .operate .con .inner_con{display:none;}
.page_vip_coupon .box_vip_coupon .instruction{width:50.50847457627119%; position:relative; left:5.76271186440678%; padding:24px 0 56px;}
.page_vip_coupon .box_vip_coupon .instruction .tit{padding-bottom:10px; border-bottom:1px dotted #000; line-height:36px;}
.page_vip_coupon .box_vip_coupon .instruction .tit .more{color:#e14a43;}
.page_vip_coupon .box_vip_coupon .instruction .tit .icon_tip{width:29px; height:30px; margin:3px 16px 0 0; background:url(../images/icons_vip_coupon.gif) no-repeat -26px 0;}
.page_vip_coupon .box_vip_coupon .instruction .con dl{margin-top:12px; line-height:26px; padding-left:44px;}
.page_vip_coupon .box_vip_coupon .instruction .con dt{font-size:16px; font-weight:bold;}
.page_vip_coupon .box_vip_coupon .instruction .con dt .icon_instruction{width:5px; height:5px; background:url(../images/icons_vip_coupon.gif) no-repeat -65px -13px; margin:11px -5px 0 0; position:relative; left:-32px;}
.mask_vip_coupon{position:absolute; left:0; top:0; width:100%; background-color:#000; opacity:0.4; filter:alpha(opacity=40); z-index:9998; display:none;}
.popLayer_vip_coupon{position:fixed; _position:absolute; left:50%; top:50%; width:468px; padding:5px; background:url(../images/bg_poplayer_vip_coupon.png); _background:#000; margin-left:-239px; z-index:9999; display:none;}
.popLayer_vip_coupon .inner_popLayer{position:relative;}
.popLayer_vip_coupon .btn_close{position:absolute; right:0; top:0; background:url(../images/icons_vip_coupon.gif) no-repeat -80px -1px; width:29px; height:29px; cursor:pointer; _right:5px;}
.popLayer_vip_coupon .content{padding:22px 16px 24px 194px; background:url(../images/icon_dingding.gif) no-repeat 78px center #FFF;}
.popLayer_vip_coupon .content .tip{color:#4c4c4c;}
.popLayer_vip_coupon .content .expire{color:#808080; margin-top:6px;}
.popLayer_vip_coupon .content .btn{display:block; vertical-align:top; width:144px; height:42px; text-align:center; line-height:42px; text-decoration:none; background-color:#e14a43; color:#FFF; margin-top:22px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; border-radius:4px;}
.popLayer_vip_coupon .content .couponlist{margin-top:8px;}
.popLayer_vip_coupon .content .couponlist a{color:#e14a43;}
.popLayer_vip_coupon .content_fail{background-image:url(../images/icon_dingding_fail.gif);}

@media screen and (max-width:1399px){
	.catalogRec .tit{padding-right:20px;}
	.catalogRec .con span{padding:0 10px;}

	.movieList .listBox .handle{background-color:#e3e3e3; opacity:0.8;}
	.movieList .listBox .handle:hover{opacity:1;}
	.movieList .listBox .handle_prev{left:10px;}
	.movieList .listBox .handle_next{right:10px;}

	.page_vip .vipBox .prize .tip_prize{font-size:18px;}
	.page_vip .vipBox .prize .tip_prize .num{font-size:30px;}
	.page_vip .vipBox .privilege .con{font-size:16px;}
}

* {
	margin: 0;
	padding: 0;
}
html { font-size: 62.5%; }
body {
	margin: 0;
	padding: 0;
	color: #5c5c5c;
	font-family: 'Microsoft YaHei';
	overflow-x: hidden;
	box-sizing: border-box;
}
a, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	outline: none;
	border: none;
}
img {
	display: inline-block;
	border: none;
	outline: none;
}
h1 { font-size: 21px; line-height: 100%;}
h2 { font-size: 18px; line-height: 100%;}
h3 { font-size: 16px; }
h4 { font-size: 12px;}

.c-red { color: #e14a43; }

.clearFloat { clear: both; }
.hidden { display: none; }
.invisible { visibility: hidden;}
.vip-logloglog { cursor: pointer !important;}
.p-dialog {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
	width: 482px;
	height: 277px;
	margin-top: -138.5px;
	margin-left: -241px;
	padding: 15px 17px;
	color: #ffffff;
	background-color: #272727;
	box-sizing: border-box;
}

.p-d-cancel {
	width: 18px;
	height: 18px;
	float: right;
	font-size: 20px;
	background: url(../images/cancel.gif) no-repeat 100% 100%;
	cursor: pointer;
}

.p-d-title {
	clear: both;
	font-size: 20px;
	text-align: center;
	color: #e14a43;
}

.p-d-info {
	font-size: 15px;
	text-align: left;
	margin: 40px auto;
}
.p-d-time {
	color: #999999;
}

.player-background {
	width: 100%;
	background-color: #272727;
	padding: 0 5%;
	box-sizing: border-box;
	margin-top: -1px;
}

#newPlayer.new-player {
	width: auto;
	min-width: 1260px;
	min-height: 650px;
	height: 650px;
	margin: 0 auto;
	box-sizing: border-box;
	overflow: hidden;
}
.player-widget {
	width: 100%;
	padding: 13px 0;
	color: #8e8e8e;
	min-width: 1280px;
}
.widget-a {
	float: left;
}
.widget-b {
	float:right;
}
.widget {
	float: left;
	padding: 0 22px;
	border-right: 1px solid #3a3a3a;
	cursor: pointer;
}
.widget:last-child {
	border-right: none;
}
.widget-info {
	display: inline-block;
	font-size: 13px;
	color: #8e8e8e;
	margin-left: 3px;
}
.widget-info-num { color: #f6f6f6;}
.widget .popTit .icon-good{padding-top:5px;}
.player-nav {
	width: 100%;
	min-width: 1280px;
	height: 60px;
	padding-left: 5%;
	background-color: #e4e4e4;
	box-sizing: border-box;
}
.player-nav span {
	display: inline-block;
	color: #999999;
	padding: 0 9px;
}
.player-nav a {
	font-size: 20px;
	line-height: 60px;
	color: #666666;
}
.nav-title { color: #333333 !important;}
.p-mod-main {
	width: 100%;
	height: 100%;
	float: left;	
}
.playBox {
	position: relative;
	height: 100%;
	background: #191919 !important;
	margin-right: 260px;
}
.play-title {
	display: none;
	position: absolute;
	top: 0;
	z-index: 5;
	width: 100%;
	height: 50px;
	color: #ffffff;
	font-size: 19px;
	text-align: center;
	line-height: 50px;
	background-color: #000000;
	opacity: 0.5;
	cursor: pointer;
}
.playBox .player {
	position: static !important;
	width: 100% !important;
	height: 100% !important;
}

.p-mod-side {
	position: relative;
	height: 100%;
	width: 260px;
	float: left;
	margin-left: -260px;
	background-color: #1c1c1c;
}

.sb-close {
	display: none;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 5;
	margin-top: -24px;
	width: 18px;
	height: 48px;
	padding-top: 15px;
	color: #6a6a6a;
	background-color: #111111;
	box-sizing: border-box;
	cursor: pointer;
}
.sb-open {
	position: relative;
	z-index: 5;
	width: 18px;
	height: 100%;
	background-color: #1c1c1c;
	vertical-align: middle;
	cursor: pointer;
}
.sb-open span {
	display: inline-block;
	position: absolute;
	top: 45%;
	margin-top: 160px;
}
.p-sb a {
	color: #e14a43;
}

.p-sb {
	position: relative;
	width: 100%;
	height: 100%;
	/* wsw modified 2017年1月24日10:05:53; */
	/*color: #999999;*/
	color: #d6d6d6;
	font-family: "Microsoft YaHei";
	overflow: visible;
}

.sc-content {
	width: 1000px;
	margin: 0 auto;
}

.sb-toggle-card {
	width: 50%;
	height: 5rem;
	height: 50px \9;
	float: left;
	border: none;
	color: #999999;
	font-size: 16px;
	text-align: center;
	line-height: 5rem;
	line-height: 50px \9;
	background-color: #000000;
}

.sb-toggle-card:hover {
	cursor: pointer;
}

.sb-toggle-card.card-active {
	color: #ffffff;
	background-color: #1c1c1c;
}

.sb-content {
	/* height: 100%; */
	overflow: hidden;
}

.sb-mod-movie {
	padding-top: 40px;
}

.sb-mod-movie h4 {
	color: #666666;
	font-weight: normal;
	padding: 1.7rem 2.5rem 1.5rem;
	padding: 17px 25px 15px \9;
	margin: 0;
}

.movie-title {
	font-size: 18px;
	padding: 0 2.5rem;
	padding: 0 25px \9;
	margin: 0;
}

.movie-info {	
	font-size: 12px;
	padding: 1.8rem 2.5rem 0.4rem;
	padding: 18px 25px 4px \9;
	margin: 0;
	border-bottom: 1px solid #252525;
}

.movie-info dd {
	padding-bottom: 1.4rem;
	padding-bottom: 14px \9;
	margin: 0;
}

.movie-score {
	display: inline-block;
	vertical-align: middle;
	width: 69px;
	height: 13px;
	background: url(../images/icons_star.gif) no-repeat;
}
.score-0{background-position:0 -150px;}
.score-1{background-position:0 -135px;}
.score-2{background-position:0 -120px;}
.score-3{background-position:0 -105px;}
.score-4{background-position:0 -90px;}
.score-5{background-position:0 -75px;}
.score-6{background-position:0 -60px;}
.score-7{background-position:0 -45px;}
.score-8{background-position:0 -30px;}
.score-9{background-position:0 -15px;}
.score-10{background-position:0 0;}

.movie-description {	
	font-size: 12px;
	line-height: 190%;
	padding: 0 2.5rem 2.3rem;
	padding: 0 25px 23px \9;
	margin: 0;
}

.pay-mod-notlogin {
	position: relative;
	padding-top: 72px;
}

.pay-mod-login {
	position: relative;
	padding-top: 18px;
}
.pay-mod-DRM {
	position: relative;
}
.DRM-2dcode-wrapper {
	width: 112px;
	height: 112px;
	margin: 0 auto;
	padding: 6px;
	border: 1px solid #78312e;
	border-radius: 5px;
}
.DRM-2dcode p {
	width: 160px;
	margin: 10px auto 40px;
	line-height: 150%;
}

.DRM-icon-wrapper {
	width: 233px;
	margin: 0 auto;
	padding: 54px 0;
	color: #bfbfbf;
	border-top: 1px solid #272727;
}
.DRM-icon {
	display: inline-block;
	width: 110px;
	height: 40px;
	padding-left: 40px;
	margin-bottom: 25px;
	font-size: 1.2rem;
	font-size: 12px\9;
	background: no-repeat left center;
	box-sizing: border-box;
	vertical-align: middle;
}
#DRM-icon-plane {background-image: url(../images/icon-plane.png);}
#DRM-icon-new {background-image: url(../images/icon-new.png);}
#DRM-icon-play {background-image: url(../images/icon-play.png);}
#DRM-icon-noad { background-image: url(../images/icon-noad.png);}
.user-info {
	position: relative;
}

.notlogin-login {
	position: absolute;
	top: 3.5rem;
	top: 35px\9;
	width: 100%;
	color: #666666;
	font-size: 14px;
	text-align: center;
	margin: 0 auto;
}


.pay-button {
	width: 220px;
	height: 39px;
	margin: 0 auto 1.2rem;
	margin: 0 auto 12px\9;
	color: #ffffff;
	font-size: 19px;
	text-align: center;
	line-height: 39px;
	background-color: #e14a43;
	border: none;
	border-radius: 3.9rem;
	cursor: pointer;
}
#payOneButton:hover {
	background-color: #da3730;
}

.pay-button > s {
	font-size: 14px;
}

.pay-note {
	color: #999999;
	font-size: 12px;
	text-align: center;
	margin-bottom: 3rem;
	margin-bottom: 30px\9;
}

.pay-note span {
	color: #e14a43
}

.pay-icon {
	margin: 0 0.6rem 3rem;
	margin: 0 6px 30px\9;
	font-family: Verdana;
	overflow: auto;
}

.pay-icon > .icon {
	float: left;
	margin: 0 0.5rem;
	margin: 0 5px\9;
	color: #646464;
	font-size: 12px;
	text-align: center;
}

.pay-icon > .icon p {
	margin: 0;
}

.pay-icon > .icon p:nth-child(even) {
	margin-top: .5rem;
	margin-top: 5px\9;
	color: #8b8b8b;
	font-size: 12px;
}

.pay-notice {
	padding: .2rem 0;
	padding: 2px 0\9;
	color: #626262;
	font-size: 14px;
	text-align: center;
	border-top: 1px solid #252525;
	border-bottom: 1px solid #252525;
}

.pay-one {
	text-decoration: underline !important;
	color: #e14a43;
	font-size: 12px;
	padding-right: 2rem;
	padding-right: 20px\9;
	float: right;
}

div#pSidebar {
	bottom: 0;
	width: 100%;
	height:678px;
	background-color: #1c1c1c;
}

.sb-mod-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 1.2em;
	border-top: 1px solid #252525;
	background-color: #1c1c1c;
	box-sizing: border-box;
}
.sb-mod-footer:hover {
	background-color: #252525;
}

.sb-mod-footer div {
	color: #666666;
	font-size: 12px;
	padding-left: 2em;
}

.sb-mod-footer img {
	margin-right: 1.2rem;
	margin-right: 12px\9;
	vertical-align: middle;
}

.sb-mod-footer a {
	display: inline-block;
	color: #e14a43;
	font-size: 12px;
	padding-left: 5.2rem;
	padding-left: 52px\9;
}


.vip-crown {
	position: absolute;
	left: 76px;
}

.vip-portrait {
	position: relative;
	width: 7.6rem;
	width: 76px\9;
	height: 7.6rem;
	height: 76px\9;
	margin: 0 auto;
	border-radius: 7.6rem;
	border-radius: 76px\9;
	border: 2px solid #656567;
	overflow: hidden;
}

.vip-portrait > img {
	width: 100%;
}

.login-welcome {
	color: #666666;
	font-family: Verdana;
	font-size: 14px;
	text-align: center;
	margin-top: 1.8rem;
	margin-top: 18px\9;
	margin-bottom: 0;
}

.login-welcome > span {
	color: #999999;
}

.vip-deadline {
	position: absolute;
	top: 12.4rem;
	top: 124px\9;
	width: 100%;
	color: #e14a43;
	font-size: 14px;
	text-align: center;
	margin: 0 auto;
}

.vip-payagain {
	width: 100%;
	text-align: center;
	margin-top: 5.8rem;
	margin-top: 58px\9;
}

.vip-payagain > a {
	font-size: 14px;
	color: #999999;
	text-decoration: underline;
}


.pay-one-wrapper {
	width: 100%;
	text-align: center;
	margin-top: 4.7rem;
	margin-top: 47px\9;
	margin-bottom: 2.3rem;
	margin-bottom: 23px\9;
}

.pay-info {
	color: #999999;
	font-size: 12px;
}

.pay-info span {
	color: #e14a43;
}
.pay-one-note {
	margin-top: 2.2rem;
	margin-top: 22px\9;
	color: #e14a43;
	font-size: 14px;
	text-align: center;
}

.pay-2dcode-wrapper {
	position: absolute;
	bottom: 80px;
	width: 100%;
	padding-left: 1.2rem;
	padding-left: 12px\9;
	box-sizing: border-box;
}

.pay-2dcode-img {
	display: inline-block;
	position: relative;
	float: left;
	width: 108px;
	height: 108px;
	border: 2px solid #cdcdcd;
}
.pay-2dcode-img img.pv2-inner2dCode {position:absolute; left:50%; top:50%; margin: -16px 0 0 -16px;}

.pay-2dcode-note {
	position: relative;
	top: 3.2rem;
	top: 10px\9;
	display: inline-block;
	width: 110px;
	font-size: 12px;
	margin-left: 1rem;
	margin: 0 10px\9;
	padding: 0;
}

.sc-mod-a, .sc-mod-b {
	width: 50%;
	display: table-cell;
	height: 100%;
	box-sizing: border-box;
}

.sc-mod-pay {
	width: 500px;
	height: 100%;
	padding-left: 15%;
	box-sizing: border-box;
}

.sc-mod-pay h1 {
	color: #d6d6d6;
	font-size: 20px;
	margin: 0;
}

.sc-pay-wrapper {
	margin: 30px 0 15px;
	overflow: hidden;
}

.sc-pay-wrapper div {
	margin-bottom: 5px !important;
	float:left;
}

.sc-pay-button-wrapper {
	float: left;
}
.sc-pay-button-wrapper .pay-info{
	text-align: center;
	clear:both;
}
.sc-pay-lowest {
	float:left;
	display: inline-block;
	height:39px;
	line-height: 39px;
	margin-left: 8px;
}
.sc-icon {
	border-top: 1px dotted #2a2a2a;
	margin: 0 15%;
	padding-top: 5px;
}

.sc-icon h3 {
	color: #5c5c5c;
	margin: 10% 0 5%;
	text-align: left;
}

.sc-icon .icon {
	display: inline-block;
	margin-bottom: 5%;
	width: 173px \9;
}

.sc-icon .icon img {
	max-width: 100%;
	float: left;
}

.sc-icon .icon p {
	font-size: 15px;
	margin: 0 1rem;
	margin: 0 10px 0 6px\9;
	float: left;
}

.sc-icon .icon p b {
	font-size: 17px;
}

.sc-mod-b h1 {
	color: #d6d6d6;
	margin-left: 15%;
}

.sc-mod-b h1 a {
	color: #e14a43;
	text-decoration: underline;
}

.gallery {
	margin-top: 2.8rem;
	margin-top: 28px\9;
	margin-left: 15%;
	overflow: hidden;
}

.sc-mod-row {
	overflow: hidden;
	width: 100%;
	display: table-row;
}

.sc-mod-row a {
	display: block;
	margin-right: 15px;
	margin-bottom: 16px;
	float: left;
}

.sc-photo {
	width: 116px;
	height: 168px;
}

.sc-photo img {
	width: 100%;
	height: 100%;
}

.sc-paper {
	font-size: 16px;
	color: #b6b6b6;
	width: 58rem;
	width: 580px\9;
	margin: 0 auto;
}

.sc-paper h1 {
	width: 100%;
}

.sc-paper h3 {
	margin: 25px 0 24px;
	width: 100%;
}

.sc-paper hr {
	border-color: #343333;
	margin-top: 20px;
}


.sc-error {
	width: 100%;
	height: 100%;
	background: url('../images/dingding-bg.png') no-repeat 0 0;
	background-size: 100% 100%;
	box-sizing: border-box;
}
.sc-error div{
	position: relative;
	width: 467px;
	height: 173px;
	margin: 0 auto;
	background: url(../images/dingding.png) no-repeat 0 0;
	background-size: 100% 100%;
}
.error-button {
	display: inline-block;
	position: absolute;
	top: 94px;
	left: 122px;
	width: 210px;
	height: 40px;
}
.error-paper {
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 121px;
	width: 66px;
	height: 18px;
	cursor: pointer;
}
.error-refresh {
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 138px;
	width: 66px;
	height: 18px;
	cursor: pointer;
}

.checkbox-wrapper {
	margin-bottom: 12px;
}

.checkbox {
	display: table-cell;
	width: 23rem;
	width: 230px\9;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

.checkbox > input {
	margin: 0;
}

.sc-paper textarea {
	width: 100%;
	height: 75px;
	padding: 1rem;
	padding: 10px\9;
	border-radius: 3px;
	border: none;
	color: #b6b6b6;
	background-color: #414141;
	overflow: hidden;
}

.sc-paper p {
	font-size: 16px;
	margin: 2.4rem 0;
	margin: 24px 0\9;
}

.paper-text {
	height: 3rem;
	height: 30px\9;
	width: 18.5rem;
	width: 185px\9;
	color: #b6b6b6;
	border-radius: 3px;
	border: none;
	background-color: #414141;
}

#txtPhone {
	margin-right: 3rem;
	margin-right: 30px\9;
}

.paper-help {
	display: inline-block;
}

.sc-paper button {
	color: #ffffff;
	font-size: 18px;
	width: 13rem;
	width: 130px\9;
	height: 3.5rem;
	height: 35px\9;
	border-radius: 3px;
	border: none;
	margin: 2rem 8.5rem 0 0;
	margin: 20px 85px 0 0\9;
	background-color: #1293fe;
}

.screen-resize {
	position: fixed !important;
	bottom: 0;
	right: 0;
	z-index: 100;
	margin: -281px 0 0 -500px;
	width: 500px;
	height: 281px;
	float: none;
}
/*20160912修改*/
.scmod-b{ height:362px;}/*自定义高度,由于sc-content此元素的padding-top值是动态添加，会随着里面内容的高度进行计算，而此时里面内容的高度不够，padding太大所以自定义一个差不多的高度值*/
.scmod-b li{ font: 18px/31px "Microsoft Yahei"; height:31px; color:#d6d6d6;}
.scmod-b p{ padding-top:20px;}
.scmod-b p..scmod-b img{ width:119px; height:119px;}